.wrapper{
    margin: 5px;
}

#header1{
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

img{
    height: 200px;
    width: 200px;
}

.background1 {
    border: solid;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    background-image: linear-gradient(to bottom right,gray, lightblue);
}