
.wrapper{
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 5px
}


#background1 {
     background-image: linear-gradient(to bottom right,gray, lightblue);
     height: 200px;
    }

#background1 img{
    height: 200px;
    width: 200px;
    float: left;
    
}

#background1 p{
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    
}

dl{
    font-family: Verdana, sans-serif;
    font-size: 12px;
    display: inline-block;
    
}

  .fixedform {
        
        background-color: honeydew;
		margin: 0 auto;
		width: 300px;
        top: 0;
        right: 0;
        position: fixed;
	}
	.fixedform label{
		display: inline-block;
		text-align: left;
		
	}
	.fixedform input{  
		display: inline-block;
		text-align: left;
		
	}

.linkbar{
    background-color: lightcyan;
    width: 50%;
    height: 100px;
    border-style: double;
    border-width: 3px;
    border-color: lightslategrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
